@import "variavel";
.card__principal {
	position: relative;
	.card__img {
		position: relative;
		width: 100%;
	}
	.card__title {
		top: 65px;
		left: 85px;
		position: absolute;
		font-size: 2rem;
		color: $corDeFundoSecundaria;
		text-transform: uppercase;
		border-bottom: 16px solid $corDeFundoSecundaria;
		letter-spacing: 0.05em;
		line-height: 1.2em;
		margin: auto 0;
	}
}
.imgbx {
	position: absolute;
	top: 13px;
	left: 26px;
	width: 304px;
	height: 171px;
	background: url(../img/site.png);	
	background-position: top;
	background-size: 100%;
	transition: 5s;
	
	&:hover {
		background-position: bottom;
	}
}
.divMy {
	margin-bottom: 40px;
	.todosTitulos {
		text-align: $center;
		font-weight: $fontW;
		margin: 30px;
	}
	.contMy {
		border: 1px solid $colorGray;
		border-radius: 50px;
		padding: 35px;
		box-shadow: inset -3px -3px 7px $corDeFundoPrincipal, inset 3px 3px 5px rgba(94, 104, 121, 0.692);
		.myTitulo01::before {
			content: attr(data-text);
			position: absolute;
			top: 0px;
			left: 0;
			width: 100%;
			color: $corDeFundoPrincipal;
			overflow: hidden;
			border-bottom: 16px solid $corDeFundoPrincipal;
			animation: myAnimate 5s linear infinite;
		}
		@keyframes myAnimate {
			0% {
				width: 0;
			}
			100% {
				width: 100%;
			}
		}
	}
}
/* media Adicional */
@media (min-width: 500px) and (max-width: 575px) {
	.contMy {
		margin: 20px;
		.card__principal {
			margin-bottom: 20px;
		}
		.mac {
			.imgbx {
				top: 12px;
				left: 28px;
				width: 289px;
				height: 164px;
			}
		}
		.card__title {
			font-size: 200%;
			top: 60px;
			left: 82px;
		}
	}
}
/* Media myProjects */
@media (max-width: 425px) {
	.contMy {
		margin: 10px;
		.card__principal {
			margin-bottom: 20px;
		}
		.mac {
			.imgbx {
				top: 11px;
				left: 26px;
				width: 250px;
				height: 141px;
			}
		}
		.card__title {
			top: 55px !important;
			left: 60px !important;
		}
	}
}
@media (max-width: 375px) {
	.contMy {
		margin: 10px;
		.card__principal {
			margin-bottom: 20px;
		}
		.mac {
			.imgbx {
				top: 9px;
				left: 24px;
				width: 204px;
				height: 115px;
			}
		}
		.card__title {
			font-size: 130% !important;
			top: 45px !important;
			left: 70px !important;
		}
	}
}
@media (max-width: 360px) {
	.contMy {
		margin: 10px;
		.card__principal {
			margin-bottom: 20px;
		}
		.mac {
			.imgbx {
				top: 8px;
				left: 24px;
				width: 190px;
				height: 108px;
			}
		}
		.card__title {
			font-size: 129% !important;
			top: 45px !important;
			left: 70px !important;
		}
	}
}
@media (min-width: 576px) and (max-width: 767px) {
	.card__principal {
		margin-bottom: 20px;
	}
	.mac {
		.imgbx {
			top: 8px;
			left: 24px;
			width: 186px;
			height: 106px;
		}
	}
	.card__title {
		font-size: 100% !important;
		top: 45px !important;
		left: 70px !important;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.card__principal {
		margin-bottom: 20px;
	}
	.mac {
		.imgbx {
			top: 7px;
			left: 23px;
			width: 170px;
			height: 96px;
		}
	}
	.card__title {
		font-size: 100% !important;
		top: 35px !important;
		left: 65px !important;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.mac {
		.imgbx {
			top: 11px;
			left: 26px;
			width: 244px;
			height: 137px;
		}
	}
	.card__title {
		top: 50px !important;
		left: 55px !important;
	}
}
@media (min-width: 1400px) and (max-width: 2560px) {
	.mac {
		.imgbx {
			top: 13px;
			left: 29px;
			width: 297px;
			height: 168px;
		}
	}
}
@media (max-width: 320px) {
	.contMy {
		margin: 10px;
		.card__principal {
			margin-bottom: 20px;
		}
		.mac {
			.imgbx {
				top: 7px;
				left: 22px;
				width: 154px;
				height: 86px;
			}
		}
		.card__title {
			font-size: 100% !important;
			top: 35px !important;
			left: 55px !important;
		}
	}
}
