@import 'header';

body {
    height: 300vh;
}



/* rodape */
.footerP {
    padding: 50px 50px 25px 50px;
    font-weight: 600;

    .teste01 {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .teste02 {
        border: 1px solid red;
    }
    .teste03 {
        display: flex;
        align-items: center;
        justify-content: center;
        li,
        a {
            text-decoration: none;
            list-style: none;
            color: black;
        }
    }
    .teste04 {
        text-align: center;
    }

    .linha {
        border-top: 1px solid gray;
        margin: 10px 0;
    }
}
