@import "header", "footer";

body {
    height: 300vh;
    font-family: "Poppins", sans-serif;
}

.divMy {
    margin-top: 10%;

    .myP {
        text-align: center;
        margin-bottom: 30px;
        font-weight: 600;
    }
    .contMy {
        border: 1px solid gray;
        border-radius: 50px;
        padding: 35px;
        /* box-shadow: inset -3px -3px 7px #3bb6d5, inset 3px 3px 5px rgba(94, 104, 121, 0.692); */
        .myTitulo01 {
            position: relative;
            font-size: 2rem;
            color: #222;
            text-transform: uppercase;
            border-bottom: 16px solid #222;
            letter-spacing: 0.05em;
            line-height: 1.2em;
            margin: auto 0;
        }

        .myTitulo01::before {
            /* content: attr(data-text);
            position: absolute;
            top: 0px;
            left: 0;
            width: 100%;
            color: #03a9f4;
            overflow: hidden;
            border-bottom: 16px solid #3bb6d5;
            animation: myAnimate 5s linear infinite; */
        }

        @keyframes myAnimate {
            0% {
                width: 0;
            }

            100% {
                width: 100%;
            }
        }
        .myTitulo02{
            cursor: pointer;
        }
    }
}

