@charset "UTF-8";
body {
  font-family: "Poppins", sans-serif;
}

@media (max-width: 575px) {
  body .todosTitulos {
    font-size: 25px;
  }
}

/* Cores */
/* Diversos */
/* Mixin */
.bgPrincipal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: linear-gradient(-30deg, #3bb6d5 0%, #3bb6d5 50%, #2a2b2f 50%, #607d8b 100%);
  /* filter: hue-rotate(120deg); */
  -webkit-animation: animate 7s linear infinite;
          animation: animate 7s linear infinite;
}

.bgPrincipal .bdPrincipal {
  position: relative;
  padding: 50px;
  width: 560px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0 5px 35px rgba(0, 0, 0, 0.2);
}

.bgPrincipal .bdPrincipal .tituloPrincipal {
  color: white;
  text-align: center;
}

.bgPrincipal .bdPrincipal::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 5px;
  pointer-events: none;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), color-stop(15%, rgba(255, 255, 255, 0.1)), color-stop(50%, transparent), color-stop(85%, transparent), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 15%, transparent 50%, transparent 85%, rgba(255, 255, 255, 0.3) 100%);
}

@-webkit-keyframes animate {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes animate {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

.borP {
  border-bottom: 2px solid rgba(255, 255, 255, 0.05);
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.navbar {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

.navbar .navbar-brand {
  width: 700%;
}

.navbar .nomePrincipal {
  color: white;
  font-weight: 600;
}

.navbar .nomePrincipal:hover {
  color: white;
}

.navbar .collapse {
  max-width: 80px;
}

.navbar .collapse .drop {
  font-weight: 600;
  color: white;
  text-decoration: none;
}

.navbar .collapse .drop:hover {
  color: none;
}

.navbar .collapse .dropdown-toggle::after {
  display: none;
}

.navbar .collapse .dropdown-menu {
  min-width: 6rem;
  margin-top: 25px;
}

.navbar .collapse .dropdown-menu .dropdown-item {
  padding: 5px 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
}

.navbar .collapse .dropdown-menu .dropdown-item:hover {
  background-color: #3bb6d5;
}

.tActive {
  background-color: #3bb6d5;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
  -webkit-box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.3);
}

.tActive .nomePrincipal {
  color: #2a2b2f;
}

.tActive .nomePrincipal:hover {
  color: #2a2b2f;
}

.tActive .drop {
  color: #2a2b2f !important;
}

@media screen and (max-width: 575px) {
  .collapse {
    max-width: 100% !important;
  }
  .navbar-toggler {
    background-color: white;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  .tituloPrincipal h1 {
    font-size: 30px;
  }
  .tituloPrincipal h2 {
    font-size: 25px;
  }
}

body {
  font-family: "Poppins", sans-serif;
}

@media (max-width: 575px) {
  body .todosTitulos {
    font-size: 25px;
  }
}

/* Cores */
/* Diversos */
/* Mixin */
.todosTitulos {
  text-align: center;
  font-weight: 600;
  margin: 30px;
}

.containerHey {
  background-color: #2a2b2f;
  border-radius: 20px;
}

.containerHey .cardHey {
  position: relative;
  height: 440px;
  -webkit-box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 5px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
          box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2), inset -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 5px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 15px;
}

.containerHey .cardHey .boxHey {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background-color: #2a2b2f;
  border: 2px solid #2a2b2f;
  border-radius: 15px;
  -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
          box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.containerHey .cardHey .boxHey:hover {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-box-shadow: 0 40px 70px rgba(0, 0, 0, 0.5);
          box-shadow: 0 40px 70px rgba(0, 0, 0, 0.5);
}

.containerHey .cardHey .boxHey:hover .contentHey h3 {
  color: white;
}

.containerHey .cardHey .boxHey:hover .contentHey p {
  color: white;
}

.containerHey .cardHey .boxHey .contentHey {
  padding: 20px;
  text-align: center;
}

.containerHey .cardHey .boxHey .contentHey h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size: 8em;
  color: rgba(255, 255, 255, 0.05);
}

.containerHey .cardHey .boxHey .contentHey h3 {
  font-size: 1.8em;
  color: rgba(255, 255, 255, 0.5);
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.containerHey .cardHey .boxHey .contentHey p {
  font-size: 16px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.containerHey .cardHey .boxHey::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.05);
  pointer-events: none;
}

body {
  font-family: "Poppins", sans-serif;
}

@media (max-width: 575px) {
  body .todosTitulos {
    font-size: 25px;
  }
}

/* Cores */
/* Diversos */
/* Mixin */
.divAbout {
  padding: 0;
}

.divAbout .todosTitulos {
  text-align: center;
  font-weight: 600;
  margin: 30px;
}

.divAbout .sectionAbout {
  border: 1px solid gray;
  border-radius: 50px;
  padding: 35px;
  -webkit-box-shadow: inset 4px 4px 20px #3bb6d5, inset 3px 3px 5px rgba(94, 104, 121, 0.692);
          box-shadow: inset 4px 4px 20px #3bb6d5, inset 3px 3px 5px rgba(94, 104, 121, 0.692);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.divAbout .sectionAbout .aboutMe {
  text-align: center;
  padding: 10px 20px 20px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.09);
}

.divAbout .sectionAbout .aboutMe .aboutFoco:hover {
  background-color: #3bb6d5;
}

.divAbout .sectionAbout .bulb-off {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background: url("../img/lampadaOff.png") no-repeat;
}

.divAbout .sectionAbout .bulb-on {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background: url("../img/lampadaOn.png") no-repeat;
}

.divAbout .sectionAbout .bulb-off, .divAbout .sectionAbout .bulb-on:hover {
  cursor: pointer;
}

/* Lado black */
.darkMode {
  border: 1px solid gray;
  border-radius: 50px;
  padding: 35px;
  -webkit-box-shadow: inset 4px 4px 20px #3bb6d5, inset 3px 3px 5px rgba(94, 104, 121, 0.692);
          box-shadow: inset 4px 4px 20px #3bb6d5, inset 3px 3px 5px rgba(94, 104, 121, 0.692);
  background-color: #2a2b2f;
  color: white;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  background-image: url("../img/oRappaWhite.png");
  background-repeat: no-repeat;
  background-position: +20px 5px;
}

.darkMode .aboutMe {
  text-align: center;
  padding: 10px 20px 20px;
  border-bottom: 2px solid rgba(225, 255, 255, 0.5);
}

.darkMode .aboutMe .aboutFoco:hover {
  background-color: #3bb6d5;
}

.darkMode .bulb-off {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background: url("../img/lampadaOn.png") no-repeat;
}

.darkMode .bulb-off, .darkMode .bulb-on:hover {
  cursor: pointer;
}

@media (max-width: 575px) {
  .divAbout {
    padding: 0px 25px;
  }
}

body {
  font-family: "Poppins", sans-serif;
}

@media (max-width: 575px) {
  body .todosTitulos {
    font-size: 25px;
  }
}

/* Cores */
/* Diversos */
/* Mixin */
.card__principal {
  position: relative;
}

.card__principal .card__img {
  position: relative;
  width: 100%;
}

.card__principal .card__title {
  top: 65px;
  left: 85px;
  position: absolute;
  font-size: 2rem;
  color: #2a2b2f;
  text-transform: uppercase;
  border-bottom: 16px solid #2a2b2f;
  letter-spacing: 0.05em;
  line-height: 1.2em;
  margin: auto 0;
}

.imgbx {
  position: absolute;
  top: 13px;
  left: 26px;
  width: 304px;
  height: 171px;
  background: url(../img/site.png);
  background-position: top;
  background-size: 100%;
  -webkit-transition: 5s;
  transition: 5s;
}

.imgbx:hover {
  background-position: bottom;
}

.divMy {
  margin-bottom: 40px;
}

.divMy .todosTitulos {
  text-align: center;
  font-weight: 600;
  margin: 30px;
}

.divMy .contMy {
  border: 1px solid gray;
  border-radius: 50px;
  padding: 35px;
  -webkit-box-shadow: inset -3px -3px 7px #3bb6d5, inset 3px 3px 5px rgba(94, 104, 121, 0.692);
          box-shadow: inset -3px -3px 7px #3bb6d5, inset 3px 3px 5px rgba(94, 104, 121, 0.692);
}

.divMy .contMy .myTitulo01::before {
  content: attr(data-text);
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  color: #3bb6d5;
  overflow: hidden;
  border-bottom: 16px solid #3bb6d5;
  -webkit-animation: myAnimate 5s linear infinite;
          animation: myAnimate 5s linear infinite;
}

@-webkit-keyframes myAnimate {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes myAnimate {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* media Adicional */
@media (min-width: 500px) and (max-width: 575px) {
  .contMy {
    margin: 20px;
  }
  .contMy .card__principal {
    margin-bottom: 20px;
  }
  .contMy .mac .imgbx {
    top: 12px;
    left: 28px;
    width: 289px;
    height: 164px;
  }
  .contMy .card__title {
    font-size: 200%;
    top: 60px;
    left: 82px;
  }
}

/* Media myProjects */
@media (max-width: 425px) {
  .contMy {
    margin: 10px;
  }
  .contMy .card__principal {
    margin-bottom: 20px;
  }
  .contMy .mac .imgbx {
    top: 11px;
    left: 26px;
    width: 250px;
    height: 141px;
  }
  .contMy .card__title {
    top: 55px !important;
    left: 60px !important;
  }
}

@media (max-width: 375px) {
  .contMy {
    margin: 10px;
  }
  .contMy .card__principal {
    margin-bottom: 20px;
  }
  .contMy .mac .imgbx {
    top: 9px;
    left: 24px;
    width: 204px;
    height: 115px;
  }
  .contMy .card__title {
    font-size: 130% !important;
    top: 45px !important;
    left: 70px !important;
  }
}

@media (max-width: 360px) {
  .contMy {
    margin: 10px;
  }
  .contMy .card__principal {
    margin-bottom: 20px;
  }
  .contMy .mac .imgbx {
    top: 8px;
    left: 24px;
    width: 190px;
    height: 108px;
  }
  .contMy .card__title {
    font-size: 129% !important;
    top: 45px !important;
    left: 70px !important;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .card__principal {
    margin-bottom: 20px;
  }
  .mac .imgbx {
    top: 8px;
    left: 24px;
    width: 186px;
    height: 106px;
  }
  .card__title {
    font-size: 100% !important;
    top: 45px !important;
    left: 70px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .card__principal {
    margin-bottom: 20px;
  }
  .mac .imgbx {
    top: 7px;
    left: 23px;
    width: 170px;
    height: 96px;
  }
  .card__title {
    font-size: 100% !important;
    top: 35px !important;
    left: 65px !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .mac .imgbx {
    top: 11px;
    left: 26px;
    width: 244px;
    height: 137px;
  }
  .card__title {
    top: 50px !important;
    left: 55px !important;
  }
}

@media (min-width: 1400px) and (max-width: 2560px) {
  .mac .imgbx {
    top: 13px;
    left: 29px;
    width: 297px;
    height: 168px;
  }
}

@media (max-width: 320px) {
  .contMy {
    margin: 10px;
  }
  .contMy .card__principal {
    margin-bottom: 20px;
  }
  .contMy .mac .imgbx {
    top: 7px;
    left: 22px;
    width: 154px;
    height: 86px;
  }
  .contMy .card__title {
    font-size: 100% !important;
    top: 35px !important;
    left: 55px !important;
  }
}

body {
  font-family: "Poppins", sans-serif;
}

@media (max-width: 575px) {
  body .todosTitulos {
    font-size: 25px;
  }
}

/* Cores */
/* Diversos */
/* Mixin */
.footerP {
  background-color: #3bb6d5;
  padding: 50px 50px 25px 50px;
  font-weight: 600;
}

.footerP .cont01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footerP .cont02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 15px;
}

.footerP .cont02 .verde {
  width: 9em;
  height: 150px;
  background: #00a859;
  font-size: 30px;
  -webkit-filter: url(#wavy);
          filter: url(#wavy);
}

.footerP .cont02 .amarelo-top {
  width: 1px;
  height: 1px;
  border: solid 3.3em transparent;
  border-bottom: solid 2.3em #ffcc29;
  border-top-width: 0;
  position: absolute;
  top: 7px;
  left: 36px;
}

.footerP .cont02 .amarelo-bottom {
  width: 1px;
  height: 1px;
  border: solid 3.3em transparent;
  border-top: solid 2.3em #ffcc29;
  border-bottom-width: 0;
  position: absolute;
  top: 76px;
  left: 35px;
}

.footerP .cont02 .azul-bg {
  width: 90px;
  height: 90px;
  background: #3e4095;
  border-radius: 50%;
  position: absolute;
  top: 30px;
  left: 90px;
  overflow: hidden;
}

.footerP .cont02 .faixa-branca {
  width: 17em;
  height: 17em;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 30px;
  left: -245px;
}

.footerP .cont02 .azul-bottom {
  width: 16em;
  height: 16em;
  background: #3e4095;
  border-radius: 50%;
  position: absolute;
  top: 36px;
  left: -231px;
}

.footerP .cont02 .stars li {
  margin: 0;
  padding: 0;
  list-style: none;
  color: white;
  position: absolute;
}

.footerP .cont02 .stars li:before {
  content: "★";
}

.footerP .cont02 .star-1:before {
  font-size: 0.3em;
}

.footerP .cont02 .star-2:before {
  font-size: 0.25em;
}

.footerP .cont02 .star-3:before {
  font-size: 0.2em;
}

.footerP .cont02 .star-4:before {
  font-size: 0.14em;
}

.footerP .cont02 .star-5:before {
  font-size: 0.1em;
}

.footerP .cont02 #procion {
  top: 1.15em;
  left: 0.5em;
}

.footerP .cont02 #alphard {
  top: 0.85em;
  left: 2em;
}

.footerP .cont02 #muliphen {
  top: 1.3em;
  left: 1.2em;
}

.footerP .cont02 #sirio {
  top: 1.6em;
  left: 0.8em;
}

.footerP .cont02 #mirzam {
  top: 0.9em;
  left: 0.46em;
}

.footerP .cont02 #wezen {
  top: 0.92em;
  left: 1.52em;
}

.footerP .cont02 #adhara {
  top: 1.25em;
  left: 1.43em;
}

.footerP .cont02 #canopus {
  top: 1.65em;
  left: 1.9em;
}

.footerP .cont02 #gracus {
  top: 0.3em;
  left: 1.4em;
}

.footerP .cont02 #palida {
  top: 0.63em;
  left: 0.95em;
}

.footerP .cont02 #intrometida {
  top: -0.2em;
  left: 2.23em;
}

.footerP .cont03 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footerP .cont03 li, .footerP .cont03 a {
  text-decoration: none;
  list-style: none;
  color: #2a2b2f;
}

.footerP .cont04 {
  margin-top: 10px;
  text-align: center;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}

.footerP .scrollTop {
  position: fixed;
  bottom: 800px;
  right: 25px;
  width: 50px;
  height: 15%;
  font-size: 40px;
  border-radius: 50%;
  background-size: 40px;
  z-index: 99999;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footerP .scrollTop.active {
  bottom: 40px;
  visibility: visible;
  opacity: 1;
}

/* Mobile */
@media (max-width: 575px) {
  .cont01 {
    margin-bottom: 5px;
  }
  .cont02 {
    margin-bottom: 25px;
  }
}

body {
  font-family: "Poppins", sans-serif;
}

@media (max-width: 575px) {
  body .todosTitulos {
    font-size: 25px;
  }
}

/* Cores */
/* Diversos */
/* Mixin */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #3bb6d5;
  border-radius: 50px;
  border: 1px solid #3bb6d5;
}

::-webkit-scrollbar-thumb:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#3bb6d5));
  background: linear-gradient(transparent, #3bb6d5);
}

::-webkit-scrollbar-button {
  background-color: #3bb6d5;
}

body {
  font-family: "Poppins", sans-serif;
}

@media (max-width: 575px) {
  body .todosTitulos {
    font-size: 25px;
  }
}

/* Cores */
/* Diversos */
/* Mixin */
/*# sourceMappingURL=style.css.map */