body {
  height: 300vh;
  background-color: red;
}

.bgPrincipal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: linear-gradient(-30deg, #03a9f4 0%, #3a78b7 50%, #262626 50%, #607d8b 100%);
  -webkit-filter: hue-rotate(120deg);
          filter: hue-rotate(120deg);
  -webkit-animation: animate 7s linear infinite;
          animation: animate 7s linear infinite;
}

.bgPrincipal .bdPrincipal {
  position: relative;
  padding: 50px;
  width: 560px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0 5px 35px rgba(0, 0, 0, 0.2);
}

.bgPrincipal .bdPrincipal .tituloPrincipal {
  color: white;
  text-align: center;
}

.bgPrincipal .bdPrincipal::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 5px;
  pointer-events: nome;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.3)), color-stop(15%, rgba(255, 255, 255, 0.1)), color-stop(50%, transparent), color-stop(85%, transparent), to(rgba(255, 255, 255, 0.3)));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 15%, transparent 50%, transparent 85%, rgba(255, 255, 255, 0.3) 100%);
}

@-webkit-keyframes animate {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes animate {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

.borP {
  border-bottom: 2px solid rgba(255, 255, 255, 0.05);
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.navbar {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

.navbar .navbar-brand {
  width: 700%;
}

.navbar .nomePrincipal {
  color: white;
  font-weight: 600;
}

.navbar .nomePrincipal:hover {
  color: white;
}

.navbar .collapse {
  max-width: 80px;
}

.navbar .collapse .drop {
  font-weight: 600;
  color: white;
  text-decoration: none;
}

.navbar .collapse .drop:hover {
  color: none;
}

.navbar .collapse .dropdown-toggle::after {
  display: none;
}

.navbar .collapse .dropdown-menu {
  min-width: 6rem;
  margin-top: 25px;
}

.navbar .collapse .dropdown-menu .dropdown-item {
  padding: 5px 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
}

.tActive {
  background-color: white;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
  -webkit-box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.3);
}

.tActive .nomePrincipal {
  color: #313131;
}

.tActive .nomePrincipal:hover {
  color: #313131;
}

.tActive .drop {
  color: #313131 !important;
}

@media screen and (max-width: 575px) {
  .collapse {
    max-width: 100% !important;
  }
}
/*# sourceMappingURL=style.css.map */